.empty-state-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.empty-state-text {
  font-size: 16px; /* Adjust the font size as needed */
  line-height: 24px; /* Adjust the line height as needed */
  color: var(--figma-color-text-secondary); /* Adjust the color as needed */
}
